@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-left:10px ;
    margin-right: 10px;
}

#primeiro-texto{
    text-align: center;
    padding-bottom: 10px;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.2em;
    margin: 10px;
}


.container {
    display: flex; 
    align-items: center;
}

#imagem-01,img {
    width: 150px;
    height: 150px; 
    margin-right: 10px; 
}

#txt-01 {
    text-align: left;
    flex-grow: 1; 
    text-align: justify;
}

#container{
    margin-top: 25px;
}

#imagem-02{
    margin-left: 10px;
}

#txt-02{
    text-align: left;
    flex-grow: 1; 
    text-align: justify;
}

#barra{
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 60px;
    position: absolute;
    bottom: 5px;
    margin-left: 10px;
}

