@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-left:10px ;
    margin-right: 10px;
}

#primeiro-texto{
    text-align: center;
    padding-bottom: 10px;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.2em;
    margin: 10px;
}


.container {
    display: flex; 
    align-items: center;
    margin-top: 15px;
    filter: grayscale(100);
}

#imagem-01,img {
    width: 150px;
    height: 150px;
    margin:5px; 
}

#imagem-01{
    margin-right: 15px;
}

#txt-01,#txt-02 {
    text-align: left;
    flex-grow: 1; 
    text-align: justify;
    font-size: 0.8em;
}

#imagem-02, #imagem-03 ,#imagem-04 {
    margin-left: 5px;
    margin-right: 5px;
}

#barra{
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: bolder;
}

footer{
   margin-top: 100px;
}

